[package]
name = "yew_styles"
version = "0.5.0"
description = "Framework styles for yew"
documentation = "https://docs.rs/crate/yew_styles"
authors = ["Francisco Jesus Navarro Cortes <spieljs@gmail.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/spielrs/yew-styles-page/tree/master/crate/yew_styles"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[features]
layouts = []
button = []
navbar = []
forms = []
card = []
assets = []


[dependencies]
wasm-bindgen = "0.2"
yew = { git="https://github.com/yewstack/yew", features = ["web_sys"] }
web-sys = {version = "0.3", features = ["HtmlDocument", "HtmlCollection", "CssStyleDeclaration", "Selection", "HtmlElement", "HtmlInputElement", "HtmlSelectElement", "Event", "Node","HtmlOptionsCollection","HtmlOptionElement", "DataTransfer"]}
rand = {version="0.7", features = ["getrandom"]}
getrandom = {version = "0.1", features= ["wasm-bindgen"]}
wasm-bindgen-test = "0.3"
