@import "_global-variables.sass"
@import "_mixins.sass"

.tooltip_container
  position: relative
  width: fit-content
  width: -moz-fit-content

  .tooltip
    position: absolute

    &.left
      left: -42px

    &.rigth
      right: -55px

    &.above
      top: -25px

    &.below
      bottom: -25px

    @each $name, $size in $sizes
        &.#{$name}
            font-size: $size

    &.regular
        @include pallete-style($regular-style, true)

    &.outline
        @include pallete-style($outline-style, true)
    &.light
        @include pallete-style($light-style, true)
