@mixin button-style($style)
    @each $name, $background, $color, $border-color in $style
        &.#{$name}
            background-color: $background
            color: $color
            border: get-border($border-color)

@mixin layout-screen($screen, $type)
    @for $size from 1 through 12
        @if $screen == s
            @media (min-width: 576px)
                @include get-layout($type, $screen, $size)
        @else if $screen == m
            @media (min-width: 768px)
                @include get-layout($type, $screen, $size)
        @else if $screen == l
            @media (min-width: 992px)
                @include get-layout($type, $screen, $size)
        @else if $screen == xl
            @media (min-width: 1200px)
                @include get-layout($type, $screen, $size)
        @else
            @include get-layout($type, $screen, $size)
            

@mixin get-layout($type, $screen, $size)
    &.#{$type}-#{$screen}-#{$size}
        flex-basis: 100% / (12/$size)
    

@function get-border($border-color)
    $border: none
    @if $border-color != none
        $border: 1px solid $border-color
    
    @return $border
