.card
    margin-right: 15px
    margin-top: 10px
    .card-header
        background-color: #f0f0f0
    .image
        height: 100%
        width: 100%
        text-align: center
        padding-top: 20px
        color: #000

    .content
        padding-top: 10px